<%= form_with(model: championship, local: true, :html => {class: 'new-item'}) do |form| %>
  <% if championship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(championship.errors.count, "error") %> prohibited this championship from being saved:</h2>

      <ul>
      <% championship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :début %>
    <%= form.text_field :beginning, class: "form-control debut", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :fin %>
    <%= form.text_field :end_saison, class: "form-control fin", required: true  %>
  </div>


  <%= form.submit 'Valider', :class => 'btn btn-block btn-success' %>

<% end %>

<script>
    $('.debut').datepicker({
        uiLibrary: 'bootstrap4',
        locale: 'fr-fr',
        format: 'yyyy-mm-dd'
    });
    $('.fin').datepicker({
        uiLibrary: 'bootstrap4',
        locale: 'fr-fr',
        format: 'yyyy-mm-dd'
    });
</script>